@font-face {
  font-family: 'Poppins';
  src: url(Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'Poppins-normal';
  src: url(Poppins/Poppins-Regular.ttf);
}

body {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: calc(50% - 375px / 2);
}

#presentation {
  display: block;
  height: 696px;
  width: 375px;
}

.status-bar {
  position: absolute;
  width: 375px;
  height: 44px;
  left: calc(50% - 375px / 2);
  top: 0;
}

.time {
  position: absolute;
  width: 54px;
  height: 21px;
  left: 21px;
  top: 13px;
}

.network-battery {
  position: absolute;
  width: 66.66px;
  height: 11.34px;
  left: 293.67px;
  top: 17.33px;
}

.header {
  position: absolute;
  left: calc(50% - 375px / 2);
  top: 44px;
  width: 375px;
  height: 48px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 12px;
  top: calc(50% - 40px / 2);
}

.bar {
  position: absolute;
  top: calc(50% - 24px / 2);
  right: 32px;
  cursor: pointer;
}

.content {
  width: 375px;
  height: 604px;
  position: absolute;
  left: calc(50% - 380px / 2);
  top: 92px;
  background-image: url("img/header-shapes mobile@2x.svg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  width: 327px;
  height: 150px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  order: 0;
  flex-grow: 0;
  margin-top: 30.4%;
  margin-bottom: 0;
}

.description {
  width: 327px;
  height: 146px;
  margin-top: 12px;
  font-family: 'Poppins-normal', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  flex-grow: 0;
}

.social {
  width: 118px;
  height: 24px;
  font-family: 'Poppins-normal', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 0;
  margin-left: 24px;
  margin-bottom: 0;
  align-self: flex-start;
}

.social-icon {
  width: 170.17px;
  height: 20px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 12px;
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-self: start;
}

#work {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 2788px;
  left: calc(50% - 375px / 2);
  align-items: center;
  justify-content: space-evenly;
  background: #e5e5e5;
}

.section1 {
  display: grid;
  width: 327px;
  height: 552px;
  background-color: #fff;
  border-radius: 16px;
  grid-template-columns: repeat(6, 16.66%);
  grid-template-rows: 1fr 60px 50px 1fr 60px 1fr;
}

.section2 {
  display: grid;
  width: 327px;
  height: 552px;
  background-color: #fff;
  border-radius: 16px;
  grid-template-columns: repeat(6, 16.66%);
  grid-template-rows: 1fr 100px 30px 1fr 40px 1fr;
}

.section3 {
  width: 327px;
  height: 552px;
  background-color: #fff;
  border-radius: 16px;
  grid-template-columns: repeat(6, 16.66%);
  grid-template-rows: 1fr 60px 50px 1fr 60px 1fr;
  display: grid;
}

.section4 {
  display: grid;
  width: 327px;
  height: 552px;
  background-color: #fff;
  border-radius: 16px;
  grid-template-columns: repeat(6, 16.66%);
  grid-template-rows: 1fr 100px 30px 1fr 40px 1fr;
}

.snap {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  justify-self: center;
  margin-top: 16px;
}

.project-title {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
  justify-self: start;
  margin-left: 16px;
  margin-bottom: 0;
  margin-top: 12px;
  margin-right: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.canopy-sec {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
}

.canopy {
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin: 0;
  margin-left: 16px;
}

.canopy-items {
  display: flex;
  list-style: none;
  gap: 12px;
  align-items: center;
  padding: 0;
  margin: 12px;
}

.item {
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.description-work {
  margin: 16px;
  margin-top: 10px;
  margin-bottom: 0;
  grid-column: 1 / 7;
  grid-row: 4 / 5;
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.programming-lan {
  display: flex;
  grid-column: 1 / 7;
  grid-row: 5 / 6;
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  list-style: none;
  padding: 0;
  margin-left: 16px;
  gap: 8px;
}

.item-lan {
  background: #ebebff;
  border-radius: 8px;
  align-self: center;
  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

.see-project {
  grid-column: 1 / 7;
  width: 126px;
  height: 48px;
  margin-left: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  cursor: pointer;
  transition: 0.2s linear;
}

.see-project:enabled {
  color: #6070ff;
  background-color: #fff;
}

.see-project:hover {
  color: #fff;
  background: #6070ff;
}

.see-project:active {
  color: #fff;
  background: #2230d2;
}

.see-project:disabled {
  color: #5e6c84;
  background-color: #fff;
  border: solid #5e6c84;
}

#about-myself {
  width: 374px;
  display: flex;
  flex-direction: column;
  background: #e5e5e5;
}

.about {
  width: 374px;
  height: 560px;
  background-color: #fff;
  border-top-right-radius: 85px;
}

#about-title {
  width: 140px;
  height: 90px;
  margin-left: 24px;
  margin-top: 114px;
}

#about-text {
  margin-left: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 330px;
}

#about-button {
  width: 165px;
}

.languages {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 602px;
}

p {
  margin: 0;
}

#lan {
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 36px;
  margin-right: 64px;
  display: flex;
  justify-content: space-between;
}

.ul-lan {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}

.framework {
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 36px;
  margin-right: 66px;
}

.separator {
  height: 1px;
  width: 320px;
  margin-top: 23px;
  align-self: center;
  background: #dfe1e6;
}

.skill {
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 36px;
  margin-right: 66px;
  margin-top: 24px;
}

.contact {
  background-color: #6070ff;
  background-image: url(./img/contact\ form\ shapes-mobile.svg);
  background-position-x: 153px;
  background-repeat: no-repeat;
  border-top-left-radius: 85px;
  min-height: 779px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 24px;
}

.contact h2 {
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  margin: 0;
  margin-top: 103px;
  color: #fff;
}

.contact p {
  height: 102px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  margin-bottom: 63px;
}

.single-line-input {
  box-sizing: border-box;
  width: 327px;
  height: 48px;
  margin-top: 2px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

.single-line-input::placeholder {
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.comment {
  box-sizing: border-box;
  width: 327px;
  height: 170px;
  border-radius: 8px;
  padding: 15px;
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.comment::placeholder {
  color: #b3bac5;
  font-family: 'Poppins-normal', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.contact form button {
  width: 140px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-weight: 500px;
  margin-bottom: 21px;
}
